<!DOCTYPE html>
{% load static %}
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=3.0, minimum-scale=0.75">
        <title> {% block head %} Home {% endblock %} </title>
        <link rel="shortcut icon" href="{% static 'basic/images/jadethreadz_logo_simple.png' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'basic/home.css' %}" />
    </head>
    <body>
    <div class="topbar" id="navbar">
        <div class="container" onclick="openNav()">
            <div class="bar1" id="b1"></div>
            <div class="bar2" id="b2"></div>
            <div class="bar3" id="b3"></div>
        </div>
        
        <span class="fml">
            <div class="logo">
                <a href="{% url 'basic:home' %}">
                    <img src="{% static 'basic/images/jadethreadz_logo_simple.png' %}" class = "logo_img">
                </a>
            </div> 
            <div class="title_text">Jadethreadz </div>
        </span>
        
        <span class="basket">
            <div class="b-icon">
                <a href="{% url 'shop:basket' %}">
                    <img src="{% static 'basic/images/basket.png' %}" class = "b-img">
                    <div class="basket_txt" id="bask_txt"></div>
                </a>
            </div>    
        </span>
        
        <span class="social">
            <div class="f-icon">
                <input type="image" src="{% static 'basic/images/f-icon.png' %}" class = "f-img"  onclick="fbook()">
            </div>
            <div class="i-icon">
                <input type="image" src="{% static 'basic/images/i-icon.png' %}" class = "i-img"  onclick="igram()">
            </div>    
        </span>
    </div>
    
    <div id="mySidebar" class="sidebar">
        <div class="containerMenu" id="close_btn" onclick="closeNav()">
            <div class="bar1M"></div>
            <div class="bar2M"></div>
            <div class="bar3M"></div>
        </div>
        <div class="sidebar-content">
            <a href="{% url 'basic:home' %}">Home</a>
            <a href="{% url 'shop:shop' %}">Shop</a>
            <a href="{% url 'basic:fabric' %}">Fabric</a>
            <a href="{% url 'basic:about' %}">About</a>
        </div>
    </div>
    
    <div class="banner">
        <img src="{% static 'basic/images/banner_img.png' %}" alt="Banner" class="banner_img">
    </div>
    
    <script type="text/javascript" src=" {% static 'basic/home.js' %}"></script>
    </body>
</html>